[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vennDiagramLab"]
	path = vennDiagramLab
	url = https://github.com/zoliqua/venn-diagram-lab
	subdir = r
